<nav class="top-bar">
    <ul class="title-area">
        <li class="name">
            <h1><a href="#">vansanblch </a></h1>
        </li>
        <li class="toggle-topbar"><a href="#"><span>Menu</span></a></li>
    </ul>
    <section class="top-bar-section">
        <ul class="left">
            <li class="divider"></li>
            <li><a href="/">Home</a></li>
            <li><a href="/portfolio">Portfolio</a></li>
            <li><a href="#">Contacts</a></li>
        </ul>
        <login-toolbar></login-toobar>
    </section>
</nav>
